//.lh-min - класс для тех ячеек таблицы, в которых много букв(больше 43), от этого строка становится в два ряда, и эта ячейка ломает таблицу, увеличиваясь в высоту. В этом случае класс строки меняется на данный класс, его отличие в том, что line-height становится 19, а не 38, это даёт возможность уместить две строчки текста в одну ячейку таблицы без увеличения ячейки по высоте. И ништячок всем нам становится
.lh-min {
  line-height: 19px;
  background: #72d4e0;
  text-align: center;
  position: relative;
  cursor: pointer;
  .hide {
    transform: translateX(0);
  }
}

.mistake {
  background: rgb(248, 102, 134);
}

.correctly {
  background: rgb(75, 243, 111);
}
