.header__nav{
  padding-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #eba8c4;
}
.header__nav-item{
  line-height: 20px;
  padding: 7px;
  text-decoration: none;
  border-radius: 2px;
  color: #fff;
}
.orange-playlist{
  background: #E36D0A;
}